<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let trip of trips">
      <div class="card h-100 shadow-sm">
        <div class="card-header fw-bold text-primary">{{ trip.name }}</div>
        <img
          class="card-img-top"
          [src]="'assets/images/' + trip.image"
          alt="trip thumbnail"
        />
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{ trip.resort }}</h6>
          <p class="card-subtitle mt-3 mb-3 text-muted">
            {{ trip.length }} only {{ trip.perPerson | currency:'USD':true }} per person
          </p>
          <p class="card-text" [innerHTML]="trip.description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
