<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travlr Getaways</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<div id="background">
    <div id="page">
        {{> header }}
        {{{body}}}
        {{> footer }}
    </div>
</div>
</body>
</html>
